upstream php {
    server 127.0.0.1:9000;
}

server { 
    listen 80; 
    server_name localhost; # Development
    # server_name santa-elena.mx; # Production

    # error_log /dev/fd/1 info;
    # error_log /dev/fd/1 debug;

    http2 on;

    location ~ ^/wordpress/.+\.php$ {
        root /var/www/html;
        rewrite ^/wordpress/(.+)$ /$1 break;
        add_header X-Handled-By "PHP - Container";
        # FIXME: This file is probably using the wrong path prefix(/scrips/) verfiy by error_log /some/path debug;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        snippets/fastcgi-php.conf;
        include        fastcgi_params;
        fastcgi_pass   php;
    }
}